.comment-area {
    position:absolute;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    z-index: 1000; padding: 10px; border-radius: 5px;
    border-top: 4px solid #4696e7; box-shadow: 0px 2px 15.7px 0.3px rgba(0, 0, 0, 0.14); margin-left: 20px;
    padding-top: 20px;
}
.comment-container {
    margin-top: -20px;
}
.comments {
    list-style: none;
    display: block;
    font-size: 17px;
    margin: 2px;
    padding: 1px;
    color: #f0568b;text-align: right;
}
[contenteditable="true"].sdcomment{
	margin-top: 15px;
padding: 5px 10px;
margin-bottom: 12px;

}
.comments li {
    font-size: 15px !important;
    color: black;
    padding-top: 3px;text-align: left;
}
.comments li * {
    padding-top: 1px;
}
.sdcomment {
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto!important;
    word-wrap: break-word;font-size: 13px;
}
.author-name {
    font-weight: 800;font-size:14px;
}
.action-link {
    font-size: 13px;
}
.edit-comment {
    color: #4696e7;
}
.del-comment {
    color: #f0568b;
}
.post-comment {
    color: #4696e7;
}
.close-comment{color: #f0568b;}
.opace {
    opacity: 0.3;
    filter: alpha(opacity=50);
}
a.action-link {
    text-decoration: none!important;
}.error-border
/*froala editor css*/

.temp-hilight, .temp-hilight * {
   background-color: #FFFF90 !important;
}
span.temp-hilight {
    display:inline;
}
.temp-hilight img, img.temp-hilight {
    opacity: 0.7;
}
.removed-text.fa-plus-square-o::after,.removed-text li:first-child::before {
    content: ' [ Text Removed ] ';
    float: right;
    font-size: 10px;
    color: darkred;
    font-weight: bold;
}
.red-at {
    color: #cc4a31!important
}
/* css to fit modal inside a div */
.modal-block {
    width:100%;
    height:200px;
    postion: relative;
}
.modal-block .modal, .modal-block .modal-backdrop {
    position: absolute !important;
}
/*end*/

.deliverable-text span {
    font-weight: normal!important;
}
.error-border {
    border: 1px solid red!important;
}
.reassign-select .dropdown-toggle{
	margin-bottom:5px !important;
}