
@font-face {
    font-family: 'MuseoLight';
    src: url('../Fonts/Museo300.OTF') format('OTF');
}

@font-face {
    font-family: 'MuseoBold';
    src: url('../Fonts/Museo700.ttf') format('truetype');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: #f8f8f8;
    color: #231f20;
    margin: 0px;
    padding: 0px;
}

*:focus, textarea:focus, input:focus, a:focus, a:active {
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p, span, div, input, label {
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3px;
}

*, button, input, .btn, a {
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
}

.pdg-none {
    padding: 0px;
}

.mrg-none {
    margin: 0px;
}

.pdg-t10 {
    padding-top: 10px;
}

.pdg-t20 {
    padding-top: 20px;
}

.mrg-t10 {
    margin-top: 10px;
}

.mrg-t20 {
    margin-top: 20px;
}

.mrg-t30 {
    margin-top: 30px;
}

.mrg-b30 {
    margin-bottom: 30px;
}

.OuterContainer {
    clear: both;
    float: left;
    width: 100%;
    padding: 0px 4.5%;
    min-height: 300px;
}

.clear {
    clear: both;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.clear50 {
    clear: both;
    height: 50px;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 24px !important;
    color: #fff;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
}

h6 {
    font-size: 14px;
    color: #fff;
}

p {
    font-size: 13px;
    color: #4d4d4d;
}

.mrg-t20 {
    margin-top: 20px;
}
/************Header**************/
.navigation {
    background: #ffffff;
    padding: 0px;
    min-height: 50px;
    position: relative;
}

#header .customNav.navbar-fixed-top {
    background: #ffffff;
    padding: 1% 4.5% 0%;
    border: 0px;
}

#header .navbar-header {
    padding-bottom: 11px;
}

.logo img {
    width: 58px;
    height: 65px;
}

#header .navbar-nav {
    margin-top: 1%;
}

    #header .navbar-nav > li {
        padding-right: 10px;
    }

#header .navLeft > li > a {
    padding: 5px 15px !important;
    line-height: 3;
    opacity: 0.67;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: rgba(35, 31, 32, 0.67);
}

#header .navLeft > li.active > a, #header .navLeft > li.active > a:hover, #header .navLeft > li.active > a:focus {
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #1b1b1b;
    border-bottom: 3px solid rgba(70, 150, 231, 1);
    padding-bottom: 14px !important;
    opacity: 1;
    background-color: #ffffff;
}

#header .navLeft > li > a:focus, #header .navLeft > li > a:hover {
    font-weight: normal;
    letter-spacing: 0.3px;
    color: #1b1b1b;
    border-bottom: 3px solid rgba(70, 150, 231, 1);
    padding-bottom: 14px !important;
    opacity: 1;
    background-color: #ffffff;
}

#header .navLeft > li > a > img {
    opacity: 0;
}

#header .navLeft > li.active > a > img, #header .navLeft > li > a:focus > img, #header .navLeft > li > a:hover > img {
    opacity: 1;
}

.IconImg {
    padding-right: 10px;
}

#header .navRight > li > a {
    width: 39px;
    height: 39px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 50%;
    line-height: 0px;
    font-size: 23px;
    color: #ffffff;
    padding: 9px 13px;
}

#header .navRight > li.NotifyBell > a {
    padding: 11px 11px;
    position: relative;
}

    #header .navRight > li.NotifyBell > a .fa-bell {
        font-size: 18px;
    }

    #header .navRight > li.NotifyBell > a > .label-info {
        background-color: #ef3c79;
        font-size: 11px;
        font-weight: bold;
        letter-spacing: 0.3px;
        line-height: 14px;
        padding: 4px 5px;
        border-radius: 50%;
        position: absolute;
        top: -11px;
        right: -4px;
    }

#header .navRight > .dropdown {
    padding-bottom: 11px;
}

#header .navRight > li.profileDetail {
    padding-left: 10px;
}

    #header .navRight > li.profileDetail > a {
        width: auto;
        height: auto;
        background-color: #ffffff;
        border-radius: 0%;
        padding: 1px;
    }

.profileImg {
    float: left;
    width: 39px;
}

.profileInfo {
    float: left;
    padding-left: 10px;
}

.profileInfo1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.9;
    letter-spacing: 0.3px;
    color: #231f20;
}

.profileInfo2 {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: #231f20;
}

.NotifyHead {
    font-family: MuseoBold;
    font-size: 16px;
    color: #4c4c4c;
    padding: 2% 20px;
    padding: 2% 20px 10px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 0px;
}

.notify1 {
    border-right: 1px solid #e8e8e8;
}

.notify3 {
    border-top: 1px solid #e8e8e8;
}

/************.//Header**************/

/**************dashboard Task*******************/
/************----------------------------Payal Css START-------------**************/

.timeline-tab .nav-tabs > li {
    float: none;
    margin-bottom: 0;
}

    .timeline-tab .nav-tabs > li a {
        color: rgba(255, 255, 255, 0.5);
    }

.timeline-tab .nav-tabs {
    border-bottom: none;
    width: 325px;
    float: left;
}

.timeline-tab .tab-content {
    float: left;
    width: 74%;
    padding: 3% 0px;
    position: relative;
}

.timeline-tab li a img {
    padding: 0px 0px 0 6px;
    vertical-align: -webkit-baseline-middle;
}

.timeline-tab li a .PImgMarginLeft {
    padding: 0px 0px 0 0px;
    vertical-align: -webkit-baseline-middle;
}

#one.active a img {
    vertical-align: super;
    margin-left: 0px;
}

#one.active a .PImgMarginLeft {
    vertical-align: super;
    margin-left: 8px;
}

.timeline-tab li.active a i {
    font-size: 17px;
    vertical-align: super;
    padding-left: 5px;
}

.timeline-tab li a i {
    font-size: 17px;
    vertical-align: bottom;
    padding-left: 5px;
}

.timeline-tab li .bullet {
    display: inline-block;
    position: relative;
    height: 4px;
    width: 4px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    z-index: 2;
    margin: -5px 12px;
}

.timeline-tab li.active .bullet {
    border: 6px solid #fff;
    padding: 8px;
    margin: 0px 4px;
    background-color: #429fdc;
}

.timeline-tab .nav > li > a {
    padding: 10px 0px;
}

.timeline-tab ul.nav {
    position: relative;
    overflow: hidden;
    padding: 1px 0;
    float: left;
    width: 26%;
}

    .timeline-tab ul.nav li:first-child:before {
        content: "";
        position: absolute;
        height: 500px;
        width: 1px;
        top: -25px;
        bottom: 0;
        left: 17px;
        background: #ffffff;
        z-index: 1;
        margin-top: 50px;
    }

    .timeline-tab ul.nav li:last-child > a {
        padding-bottom: 0;
    }

.timeline-tab .nav-tabs > li > a,
.timeline-tab .nav-tabs > li {
    border: none;
}

    .timeline-tab .nav-tabs > li.active > a,
    .timeline-tab .nav-tabs > li.active > a:focus,
    .timeline-tab .nav-tabs > li.active > a:hover {
        border: none;
        color: #fff;
    }

.tab-content h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #d8036e;
}

.timeline-tab .nav > li > a:focus,
.timeline-tab .nav > li > a:hover {
    text-decoration: none;
    /*background-color: #fff;*/
}

#homeRespo {
    display: none;
}


.PTimelineNav > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #d8036e;
}


.PBlueBgColor {
    background: linear-gradient(165deg, #4696e7, #34bcbb);
    float: left;
    margin-top: 36px;
    padding: 4% 0% 2%;
    width: 100%;
}

.timeline-tab p {
    width: 30%;
    float: left;
}

.timeline-tab h2 {
    width: 70%;
    float: left;
    color: #fff;
}

/************Card Slider Start**************/
.slick-track {
    width: 3600px !important;
}

.slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
    display: none !important;
}

    .slick-dots li {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
    }

        .slick-dots li.slick-active button {
            background-color: black;
        }

        .slick-dots li button {
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
            background-color: #999;
            border: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }

        .slick-dots li :hover {
            background-color: black;
        }

/* Custom Arrow */
.prev {
    color: transparent;
    position: absolute;
    top: 30%;
    left: -15px;
    font-size: 1.5em;
}

    .prev :hover {
        cursor: pointer;
        color: black;
    }

.next {
    color: transparent;
    position: absolute;
    top: 30%;
    right: -15px;
    font-size: 1.5em;
}

    .next :hover {
        cursor: pointer;
        color: black;
    }

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}


/************Card Slider End**************/
.pCardBg {
    background-color: #fff;
    padding: 3% 6%;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}

    .pCardBg h6 {
        color: #4d4d4d;
        width: 100% !important;
    }

    .pCardBg h4 {
        color: #252525;
        font-weight: 600;
    }

    .pCardBg p {
        width: 100%;
        float: left;
    }

        .pCardBg p span {
            margin-left: 6px;
        }

        .pCardBg p img {
            float: left;
        }

.pCreateContentBlue {
    color: #4696e7;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.timeline-tabSection h6 {
    width: 27%;
    float: left;
    text-transform: uppercase;
    font-size: 13px;
}

.timeline-tabSection h2 {
    width: 73%;
    float: left;
    margin-top: 0px;
}

    .timeline-tabSection h2 img {
        margin-right: 15px;
        margin-top: -5px;
    }

.pRightowlArrow {
    top: 43px;
}

.PBlueBgColor1 {
    display: none;
}

.pRightowlArrow::before {
    background-color: #fff;
    background: url('../images/pRightArrow.png') no-repeat;
    border-radius: 80px;
    background-color: #fff;
    width: 41px;
    float: left;
    height: 41px;
    box-shadow: 0 0 15.2px 0.8px rgba(0, 0, 0, 0.42);
    background-position: center;
    content: "";
}


.pRightowlArrow1::before {
    background: url('../images/PLeftSliderImg.png') no-repeat;
    background-position: center;
    background-color: #fff;
    content: "";
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all;
        float: left;
    }

        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
        }

            .MultiCarousel .MultiCarousel-inner .item > div {
                text-align: center;
                padding: 10px;
                margin: 10px;
                background: #f1f1f1;
                color: #666;
            }

    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position: absolute;
        border-radius: 50%;
        top: calc(50% - 20px);
    }

    .MultiCarousel .leftLst {
        left: 0;
    }

    .MultiCarousel .rightLst {
        right: 0;
    }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none;
            background: #ccc;
        }

.timeline-tabSection .slick-initialized .slick-slide {
    width: 350px !important;
    padding: 0px 10px;
}

.timeline-tab .nav-tabs > li.active > a, .timeline-tab .nav-tabs > li.active > a:focus, .timeline-tab .nav-tabs > li.active > a:hover {
    background-color: transparent;
}

.timeline-tab .nav > li > a:focus, .timeline-tab .nav > li > a:hover {
    background-color: transparent;
}

.PImgMarginLeft {
    margin-left: 9px;
}

.PCardTab3 h4 span {
    font-size: 16px;
    color: #252525;
    font-weight: 600;
}

.PCardTab3 h4 {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: normal;
    line-height: 1.57;
}

.PTataHousingText {
    color: #4d4d4d !important;
}

.PRemindText {
    width: 30% !important;
    float: left !important;
}

.PRemindText1 {
    width: 70% !important;
    float: left !important;
}

.pCreateContentRed {
    color: #ef3c79 !important;
    font-weight: 600;
}

.timeline-tab .nav-tabs > li.active > a h4 {
    display: block;
}

.PTimelineNav li a h4 {
    display: none;
    margin: 40px 26px 27px 50px;
    font-size: 17.8px;
}

    .PTimelineNav li a h4 img {
        margin-left: 8px;
        vertical-align: middle !important;
    }

.PTimelineNav li a:active, .PTimelineNav li a:focus h4 {
    display: block;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger,
.burger:after,
.burger *,
.burger *:before,
.burger *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.burger {
    cursor: pointer;
    height: 60px;
    margin-bottom: 0;
    width: 60px;
    z-index: 9001;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: #fff;
}

    .burger:after {
        bottom: 7px;
        color: #FFFFFF;
        content: 'Menu';
        font-size: 13px;
        font-weight: 300;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .header-nav ul li a:active, .header-nav ul li a:focus, .header-nav ul li a:hover, #mobile-nav:focus + .burger, .burger:focus, .burger:hover {
        background: #fff !important;
    }
    /*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/

    .burger span,
    .burger span:before,
    .burger span:after {
        background: #4696e7;
        border-radius: 0.2em;
        height: 3px;
        left: 30px;
        position: absolute;
        top: 28px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: 25px;
    }


        /* Reset the left and create the pseudo-element */

        .burger span:before,
        .burger span:after {
            content: '';
            left: 0;
        }


        /* Top bar position */

        .burger span:before {
            top: -8px;
        }


        /* Bottom bar position */

        .burger span:after {
            top: 8px;
        }


/* Get rid of more on action (IE9 or higher) */

.burger-check:checked + .burger:after {
    content: '';
}


/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
    height: 0;
    width: 0;
}


    /* Moves the top and bottom bars to the middle on action (IE9 or higher) */

    .burger-check:checked + .burger span:before,
    .burger-check:checked + .burger span:after {
        top: 6px;
    }


    /* Rotates the top bar on action with full browser support (IE9 or higher) */

    .burger-check:checked + .burger span:before {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }


    /* Rotates the bottom bar on action with full browser support (IE9 or higher) */

    .burger-check:checked + .burger span:after {
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(-225deg);
    }

#mobile-nav:focus + .burger,
.burger:focus,
.burger:hover {
    background: rgba(0, 136, 204, 0.9);
}

.burger-check:checked + .burger {
    width: 200px;
}

    .burger-check:checked + .burger:after {
        bottom: 18px;
        content: 'Close Menu';
        font-size: 20px;
        padding-left: 30px;
    }

#mobile-nav {
    left: -9999px;
    position: fixed;
    top: 0;
}

    .header-nav ul li a:active,
    .header-nav ul li a:focus,
    .header-nav ul li a:hover,
    #mobile-nav:focus + .burger,
    .burger:focus,
    .burger:hover {
        background: rgba(0, 0, 0, 0.1);
        outline: none;
    }

.fixed-nav {
    background: transparent;
    height: 60px;
    position: fixed;
    width: 67%;
    z-index: 9000;
}

.header-nav {
    float: left;
    /*  height: 60px; */
    position: relative;
    width: 100%;
}

    .header-nav ul {
        background: #FFF;
        height: calc(100vh - 60px);
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 10px 0 0 0;
        position: absolute;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        width: 200px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
        top: 100%;
        z-index: 1;
    }

.burger-check:checked ~ .header-nav ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.header-nav ul li {
    float: left;
    position: relative;
    width: 100%;
}

    .header-nav ul li a {
        color: rgba(35, 31, 32, 0.67);
        display: block;
        float: left;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.75px;
        line-height: 24px;
        margin-left: 0;
        overflow: hidden;
        padding: 12px 60px 12px 12px;
        position: relative;
        text-decoration: none;
        width: 100%;
    }

#PNavBar992 {
    display: none;
}

.fixed-nav {
    display: none;
}

.PBorderTopNavMenu12 {
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
}

.PBorderTopNavMenu {
    border-top: 1px solid #d2d2d2;
    margin-top: 15px;
}

.PBorderTopNavMenu1 {
    margin-top: 15px;
}

.menu ul li a img {
    display: none;
}

.menu ul li a:active, .menu ul li a:focus .IconImg1, .menu ul li.active a, .menu ul li.active a .IconImg1 {
    display: block;
    font-weight: bold;
}



.IconImg1 {
    margin-right: 8px;
    float: left;
    margin-top: 4px;
}

#footer .OuterContainer {
    min-height: 60px;
}

.PfooterBgColor {
    background-color: #2a2c44;
    float: left;
    width: 100%;
}

.ScatterFoterText h1 {
    width: 50%;
    float: left;
    color: #fff;
    margin: 15px 0px 20px 0px;
}

.copyright-text p {
    width: 50%;
    float: left;
    color: #fff;
    text-align: right;
    margin: 27px 0px 15px 0px;
}

.PResMobilemenuBack {
    display: none;
    min-height: 0px;
}

    .PResMobilemenuBack ul {
        width: 38%;
        float: right;
    }

        .PResMobilemenuBack ul li {
            width: 50%;
            float: left;
        }

.PQuickActionContent ul li {
    list-style: none;
    color: #4c4c4c;
    font-family: 'MuseoBold'; /*send to komal*/
}

.PQuickActionContent {
    padding: 4%;
    width: 100%;
    float: left;
    width: 385px; /*send to komal*/
    border-radius: 7px !important; /*send to komal*/
    border: none; /*send to komal*/
    margin-top: 12px !important; /*send to komal*/
}

.PFontSizeQuickAction {
    font-size: 16px;
    text-align: center;
}
/************------------------- ---------Payal Css END-------------**************/
.mainSection {
    margin-top: 35px;
}

.withContainer {
    min-height: 300px;
    clear: both;
    padding: 1.3% 0px;
}

.titleWith1 {
    font-family: 'MuseoBold';
    font-size: 20px;
    color: rgba(35, 31, 32, 0.9);
    padding: 0px 15px 0px 0px;
    margin-right: 15px;
    border-right: 1px solid #555555;
    float: left;
}

.select-wrapper {
    float: left;
    display: inline-block;
    border: 1px solid transparent;
    background: url("../images/ArrowBlue.png") no-repeat right center;
    cursor: pointer;
}

    .select-wrapper, .select-wrapper select {
        width: auto;
        height: 26px;
        line-height: 26px;
    }

        .select-wrapper:hover {
            border-color: transparent;
        }

        .select-wrapper .holder {
            display: block;
            margin: 0 20px 0 5px;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            z-index: -1;
            font-size: 14.1px;
            font-weight: 600;
            color: #231f20;
        }

        .select-wrapper select {
            margin: 0;
            position: absolute;
            z-index: 2;
            cursor: pointer;
            outline: none;
            opacity: 0;
            /* CSS hacks for older browsers */
            _noFocusLine: expression(this.hideFocus=true);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            -khtml-opacity: 0;
            -moz-opacity: 0;
        }

            .select-wrapper select option {
                font-size: 14.1px;
                color: #231f20;
                border: 1px solid #cccccc;
                padding: 5px;
                text-indent: 8px;
            }

#DropdwnList1 .dropdown-menu > li > a:focus, #DropdwnList1 .dropdown-menu > li > a:hover, #DropdwnList2 .dropdown-menu > li > a:focus, #DropdwnList2 .dropdown-menu > li > a:hover {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #4d4d4d;
    text-decoration: none;
    background-color: rgba(52,188,187,0.4);
}

#DropdwnList1 .btn.dropdown-toggle, #DropdwnList2 .btn.dropdown-toggle {
    float: left;
    display: inline-block;
    border: 1px solid transparent;
    background: url("../images/ArrowBlue.png") no-repeat right center;
    cursor: pointer;
    box-shadow: 0px 0px 0px transparent;
    outline: none !important;
    font-size: 14.1px;
    font-weight: 600;
    color: #231f20;
}

    #DropdwnList1 .btn.dropdown-toggle .bs-caret, #DropdwnList2 .btn.dropdown-toggle .bs-caret {
        display: none;
    }

#DropdwnList1, #DropdwnList2 {
    float: left;
    margin-right: 3%;
}

    #DropdwnList2 .select-wrapper .holder, #DropdwnList2 .btn.dropdown-toggle {
        color: rgba(35, 31, 32, 0.6);
    }

    #DropdwnList2 .select-wrapper, #DropdwnList2 .btn.dropdown-toggle {
        background: url("../images/ArrowGray.png") no-repeat right center;
    }

    #DropdwnList1.DropdwnList1Border .btn.dropdown-toggle {
        border: 1px solid #e1e1e1;
        background-position: 95%;
        border-radius: 6px;
    }

.posRel {
    position: relative;
}

.titleWithDropdown {
    float: left;
    width: 90%;
}

.arrows {
    float: right;
    width: auto;
    display: flex;
}

.up {
    margin-right: 5px;
}

    .up i, .down i {
        color: #4696e7;
        font-size: 18px;
        cursor: pointer;
    }

.mrg-b20 {
    margin-bottom: 20px;
}

.btmLine {
    height: 1px;
    opacity: 0.1;
    background-color: #000000;
}

.btmLineWhite {
    background-color: #ffffff !important;
    opacity: 0.3;
    height: 1px;
}

.yearBox {
    min-height: 80px;
    border-radius: 20px;
    box-shadow: 0px 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    padding: 10px 2.5% 5px;
}

.mrg-t15 {
    margin-top: 15px;
}

.DropdwnList {
    width: 85px; /* 100%; */
    overflow: hidden;
    background: url("../images/arrowBlue.png") no-repeat right transparent;
    border: 0px solid #caccce;
    border-radius: 16px;
    padding: 0px 9px;
    background-position: 95%;
    margin-top: -4px;
}

    .DropdwnList select {
        background: transparent;
        width: 100%;
        border: 0;
        border-radius: 0;
        height: 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 14.1px;
        font-weight: 600;
        color: #231f20;
        outline: none !important;
        letter-spacing: 1.3px;
        padding: 0 20px 0 2px;
        cursor: pointer;
    }

        .DropdwnList select option {
            padding: 5px;
            border-bottom: 0px;
            cursor: pointer;
            text-indent: 5px;
        }

.labelYear {
    font-size: 14px;
    font-weight: normal;
    color: #252525;
    float: left;
}

.month > li > a {
    font-size: 13px;
    color: #878787;
    padding: 4px 15px;
}

    .month > li.active > a, .month > li.active > a:focus, .month > li.active > a:hover, .month > li > a:focus, .month > li > a:hover {
        color: #fff;
        border-radius: 15px;
        background-color: #4696e7;
    }

.btnCustom {
    float: left;
    margin-right: 2%;
}

.btn.btnCustom, .btn.btnCustom1 {
    font-size: 13px;
    color: #878787;
    padding: 4px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
}

    .btn.btnCustom:hover, .btn.btnCustom:focus, .btnCustom:active, .btn.btnCustom.active, .btn.btnCustom:active {
        color: #fff;
        border-radius: 15px;
        background-color: #4696e7;
        border-radius: 15px;
    }

.btn.btnCustom1 {
    padding: 4px 10px 4px 20px;
}

    .btn.btnCustom1 i {
        padding: 0px 5px 0px 5px;
    }

.pdg-r10 {
    padding-right: 10px;
}

.pdg-r20 {
    padding-right: 20px;
}

.orLabel {
    font-size: 13px;
    font-weight: 600;
    color: #4d4d4d;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    float: left;
}

.calend {
    float: left;
}

#calend .input-group .form-control:first-child {
    padding: 4px 10px 4px 20px;
    font-size: 13px;
    color: #878787;
    padding: 4px 20px;
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
}

#calend .input-group-addon:last-child {
    border-left: 0;
    position: absolute;
    z-index: 11;
    right: 20px;
    top: 1px;
    border: 0;
    background: transparent;
    opacity: 0.6;
}

#calend .form-control {
    height: auto;
}

#calend .calendInner {
    width: 90%;
}

.textPegi1 {
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #252525;
    font-weight: 600;
    margin-right: 10px;
}

.textPegi2 a, .textPegi2 a:hover, .textPegi2 a:focus {
    text-decoration: none;
}

.PagiPrev {
    font-size: 13px;
    font-weight: 600;
    color: #bebebe;
    border-right: 1px solid #6c6c6c;
    padding-right: 6px;
}

.PagiNext {
    font-size: 13px;
    font-weight: 600;
    color: #ef3c79;
    padding-left: 6px;
}

table {
    width: 100%;
}

#tableBox table th {
    text-align: left;
}

#tableBox table th, #tableBox table td {
    padding: 15px 25px;
}

#tableBox table th {
    font-size: 12px;
    font-weight: bold;
    color: #878787;
    text-transform: uppercase;
}

table.fold-table thead tr td {
    font-size: 15.8px;
    font-weight: 600;
    color: #3f4245;
}

table.fold-table > tbody > tr.view td {
    font-size: 13px;
    color: #4d4d4d;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
    cursor: pointer;
}

table.fold-table > tbody > tr.view td {
}

table.fold-table > tbody > tr.view.open .fa-angle-down {
    transform: rotate(-180deg);
}

table.fold-table > tbody > tr.fold {
    display: none;
}

    table.fold-table > tbody > tr.fold.open {
        display: table-row;
    }

#fold-table .fa-angle-down {
    font-size: 22px;
    transition: all .3s ease;
    color: #4696e7;
    vertical-align: middle;
}

.TableArrow {
    padding: 15px 5px !important;
}

.arrowOuter {
    border-radius: 50%;
    background-color: rgba(70,150,231,0.2);
    padding: 4px 6px;
}

.maxWidth180 {
    max-width: 180px;
}

.filterIcon {
    color: #000000;
    opacity: 0.8;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: baseline;
}

#filterDropDown .filterIcon {
    vertical-align: text-top;
}

#home .filterIcon {
    vertical-align: inherit;
}

.sortArrow {
    padding-left: 5px;
}

.bordered {
    border: 0px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0px 0px #CCCCCC;
}

    .bordered td:first-child {
        border-radius: 16px 0px 0px 16px;
        -moz-border-radius: 16px 0px 0px 16px;
        -webkit-border-radius: 16px 0px 0px 16px;
    }

    .bordered td:last-child {
        border-radius: 0px 16px 16px 0px;
        -moz-border-radius: 0px 16px 16px 0px;
        -webkit-border-radius: 0px 16px 16px 0px;
    }

    .bordered .view.open td:first-child {
        border-radius: 16px 0px 0px 1px;
        -moz-border-radius: 16px 0px 0px 1px;
        -webkit-border-radius: 16px 0px 0px 0px;
    }

    .bordered .view.open td:last-child {
        border-radius: 0px 16px 0px 0px;
        -moz-border-radius: 0px 16px 0px 0px;
        -webkit-border-radius: 0px 16px 0px 0px;
    }

    .bordered .view {
        box-shadow: 0px 0px 2px 0.3px rgba(0, 0, 0, 0.14);
        border-radius: 16px;
    }

    .bordered td:first-child, .bordered td:first-child {
        border-left: medium none;
    }

    .bordered .view td {
        background-color: #ffffff;
        background-image: -moz-linear-gradient(center top, #ffffff, #ffffff);
        background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#ffffff), color-stop(.4, #ffffff));
        border-top: medium none;
        vertical-align: top;
    }

    .bordered .view td, .bordered.view td {
        border-left: 0px solid #CCCCCC;
        border-top: 0px solid #CCCCCC;
        padding: 10px;
        text-align: left;
    }

.emptyTD10 td {
    padding: 5px !important;
}

.tableCell1-1 {
    font-size: 13px;
    font-weight: 600;
    color: #4d4d4d;
}

    .tableCell1-1 i {
        font-size: 15px;
        opacity: 0.7;
        padding-right: 8px;
    }

.tableCell1-2 {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.3px;
    color: #ef3c79;
}

    .tableCell1-2 i {
        font-size: 19px;
        padding-right: 8px;
    }

.tableCell1-3 {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    color: #ef3c79;
}

.tableCell2 p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #252525;
}

.fold-content {
    min-height: 200px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(52,188,187,0.2);
    border: solid 1px #e2e2e2;
    padding: 1% 2%;
}

#tableBox .fold.open td {
    padding: 0px;
}

.fold-content #foldInnerTable tr td {
    padding: 1.5% 1% !important;
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #4d4d4d;
}

.fold-content #foldInnerTable tr th {
    padding: 15px 13px;
}

.width110 {
    width: 110px;
}

.fold-content #foldInnerTable tr .InnerTableSet {
    font-weight: 600;
    color: #4696e7;
    cursor: pointer;
}

.fold-content #foldInnerTable tr.emptyTD10 td {
    padding: 5px !important;
}

#tableBox {
    width: 100%;
    overflow: auto;
}

#movebox2 .titleWith1 {
    border-right: 0px solid #555555;
}

.tableCell1-01 {
    font-size: 14px;
    color: #4d4d4d;
}

#movebox2 .tableCell1-1.innerCell {
    font-weight: normal;
}

.tableCell1-02 {
    border-radius: 4px;
    background-color: rgba(70,150,231,0.2);
    padding: 3px 5px;
    text-align: center;
}

    .tableCell1-02 span {
        font-size: 13px;
        font-weight: bold;
        color: #4696e7;
    }

#StatusTableInner tr td {
    padding: 5px 10px 2px 0px;
}

#StatusTableInner .tableCell1-02 {
    border-radius: 50%;
    margin-right: 5px;
}

.width340 {
    width: 340px;
}

.tableSkyBlue {
    background-color: rgba(52,188,187,0.2);
}

    .tableSkyBlue span {
        color: #34bcbb;
    }

.tableGreen {
    background-color: rgba(54,212,119,0.2);
}

    .tableGreen span {
        color: #36d477;
    }

.tablePurple {
    background-color: rgba(171,71,188,0.2);
}

    .tablePurple span {
        color: #ab47bc;
    }

.tableRed {
    background-color: rgba(239,60,121,0.2);
}

    .tableRed span {
        color: #ef3c79;
    }

.vertiAlignMiddle {
    vertical-align: middle !important;
}

.btnAction, .btn.btnAction.focus, .btn.btnAction:focus, .btn.btnAction:hover {
    border-radius: 4px;
    background-color: #d7d7d7;
    color: #ffffff;
    font-size: 13px;
    /*font-weight: 600;*/
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

    .btnAction i {
        font-size: 18px;
        margin-right: 6px;
    }

.btnActionActive, .btn.btnActionActive.focus, .btn.btnActionActive:focus, .btn.btnActionActive:hover {
    background-color: #4696e7;
    color: #ffffff;
}

#graphBoxTab .nav-tabs > li > a {
    opacity: 0.6;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    color: rgba(109, 109, 109, 0.6);
    padding: 10px 6px 10px 6px;
    border: 2px solid transparent;
}

#graphBoxTab .nav-tabs > li.active > a, #graphBoxTab .nav-tabs > li.active > a:focus, #graphBoxTab .nav-tabs > li.active > a:hover, #graphBoxTab .nav > li > a:focus, #graphBoxTab .nav > li > a:hover {
    cursor: pointer;
    background-color: transparent;
    border-bottom-color: rgba(70, 150, 231, 0.97);
    opacity: 0.89;
    color: rgba(35, 31, 32, 0.89);
}

#graphBoxTab .nav-tabs {
    border-bottom: 0px solid #dddddd;
}

#graphBoxTab .barChartBox {
    padding: 20px 0px;
}

#paybar {
    min-width: 320px;
    max-width: 100%;
    margin: 0 auto;
}

.ChartProfImg {
    margin-right: 10px;
}

.pdg-lr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ChartTitle {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #2c2c2c;
}

.ChartTooltip {
    width: 190px;
}

.ChartSeries {
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
}

.ChartSeriesInner {
    font-size: 12px !important;
    font-weight: 100;
    color: #4d4d4d;
}

.ChartBtn {
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 5px;
    background-color: #ef3c79;
    text-align: center;
}

.ChartView {
    font-size: 10px;
    font-weight: 600;
    color: #ef3c79;
    cursor: pointer;
}

.highcharts-credits {
    display: none;
}

.mrg-b10 {
    margin-bottom: 10px;
}

.mrg-r15 {
    margin-right: 15px;
}

.btnGroup1 {
    margin-top: -1%;
}


#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

    #custom-search-input .search-query {
        padding-right: 15px;
        padding-right: 4px \9;
        padding-left: 15px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        padding: 2px 5px;
        margin-top: 2px;
        position: absolute;
        right: 12px;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: rgba(0,0,0,0.4);
        z-index: 9;
        top: 4px;
    }

.search-query:focus + button {
    z-index: 3;
}

#fold-table.contentTable .filterDropDown > .dropdown {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
}

#rangeSelector {
    right: 20px;
    position: absolute;
    bottom: 73px;
    z-index: 5;
}

.highcharts-button.highcharts-reset-zoom {
    display: none;
}

#prev.rangeBtn, #next.rangeBtn {
    background-color: #4696e7;
    color: #ffffff;
    border-radius: 50%;
    border: 0px;
    padding: 4px 8px;
}

.barChartBoxInner {
    min-width: 280px;
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
    padding: 45px 55px 25px 25px;
}

#AddRemovePeople .modal-title {
    font-family: MuseoBold;
    font-size: 16px;
    color: #4c4c4c;
}

#AddRemovePeople .modal-header {
    padding: 10px 25px;
}

#AddRemovePeople .modal-body {
    padding: 15px 25px;
}

#ContEngleTabBox .nav-tabs > li.active > a, #ContEngleTabBox .nav-tabs > li.active > a:focus, #ContEngleTabBox .nav-tabs > li.active > a:hover, #ContEngleTabBox .nav > li > a:focus, #ContEngleTabBox .nav > li > a:hover {
    border-bottom-color: rgba(239, 60, 121, 0.97);
}

.pdg-tb20 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.width30 {
    width: 30px !important;
}

.pdgCheckBox {
    padding: 20px 16px !important;
}

#ContDetTable #tableBox table th {
    padding: 15px 1px 15px 25px;
}

#ContDetTable #tableBox table tr.view td {
    padding: 15px 5px 30px 25px;
}

#ContDetTable .fold-content #foldInnerTable tr td {
    padding: 15px 25px !important;
}

.tableCellCon1-1 {
    font-size: 14px;
}

.tableCellCon1-2 span {
    font-weight: bold;
    color: #4696e7;
}

.tableCellCon1-3 .tableCell1-02 {
    color: #4696e7;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
}

.tableCell1-3.tableCellCon1-4 {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    width: 200%;
    line-height: 10px;
}

#ContDetTable #tableBox table td.TableArrow {
    padding-right: 25px !important;
}
/**************...///dashboard Task*******************/
/****************Content Plan *******************/
.btnDownload, .btn.btnDownload.focus, .btn.btnDownload:focus, .btn.btnDownload:hover {
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    color: #4696e7;
}

#filterDropDown > .dropdown-menu > li > .dropdown-menu-item {
    clear: both;
    color: #333;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

#filterDropDown > .dropdown-menu > li:hover .dropdown-menu-item,
#filterDropDown > .dropdown-menu > li:focus .dropdown-menu-item {
    background-color: #f5f5f5;
    color: #262625;
}

#filterDropDown > .dropdown-menu > li > .dropdown-menu-item.checkbox {
    margin: 0;
    font-weight: normal;
}

    #filterDropDown > .dropdown-menu > li > .dropdown-menu-item.checkbox input {
        display: none;
    }

#filterDropDown .dropdown-menu {
    right: 0;
    left: auto;
    padding: 11px 2px 11px 11px;
}

#filterDropDown #custom-search-input {
    padding: 0px 10px 0px 15px;
}

#custom-search-input .search-query {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: rgba(77, 77, 77, 0.9);
    font-weight: normal;
}

    #custom-search-input .search-query:placeholder {
        color: rgba(77, 77, 77, 0.5);
    }

.pdg-l-none {
    padding-left: 0px !important;
}

.pdg-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
    content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
    position: relative;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

    .chiller_cb input {
        display: none;
    }

        .chiller_cb input:checked ~ span {
            border-color: #4696e7;
            background-color: #4696e7;
        }

            .chiller_cb input:checked ~ span:before {
                width: 1rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.3s;
            }

            .chiller_cb input:checked ~ span:after {
                width: 0.4rem;
                height: 0.15rem;
                transition: width 0.1s;
                transition-delay: 0.2s;
            }

        .chiller_cb input:disabled ~ span {
            background: #ececec;
            border-color: #dcdcdc;
        }

        .chiller_cb input:disabled ~ label {
            color: #dcdcdc;
        }

            .chiller_cb input:disabled ~ label:hover {
                cursor: default;
            }

    .chiller_cb label {
        padding-left: 3rem;
        position: relative;
        z-index: 2;
        cursor: pointer;
        margin-bottom: 0;
        font-size: 13px;
        letter-spacing: 0.3px;
        color: #4d4d4d;
        font-weight: normal;
        text-transform: capitalize;
    }

    .chiller_cb span {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        border: 1px solid #ccc;
        position: absolute;
        left: 0;
        transition: all 0.2s;
        z-index: 1;
        box-sizing: content-box;
        border-radius: 4px;
    }

        .chiller_cb span:before {
            transform: rotate(-55deg);
            top: 1rem;
            left: 0.37rem;
        }

        .chiller_cb span:after {
            transform: rotate(35deg);
            bottom: 0.35rem;
            left: 0.2rem;
        }

.SubCheckBoxMenu {
    list-style: none;
    padding: 0px;
    max-height: 116px;
    overflow: auto;
}

.celarAll {
    font-size: 12px;
    font-weight: 600;
    color: #ef3c79;
    letter-spacing: 0.4;
    float: left;
    cursor: pointer;
    text-transform: capitalize;
}

.btnFilterDone, .btnFilterDone:focus, .btnFilterDone:hover, .btnFilterDone:active {
    float: right;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #4696e7;
    color: #4696e7;
    padding: 4px 10px;
    text-align: center;
    font-size: 11px;
    margin-right: 10px;
    text-transform: capitalize;
}
/****************...///Content Plan *******************/
/*******************Content Plan Details***********************/
.PlanDetailBox1 {
    min-height: 200px;
    border-radius: 20px;
    background-image: linear-gradient(165deg, #4696e7, #34bcbb);
    padding: 2% 2%;
    color: #ffffff;
}

.PlanDetHead {
    font-family: "MuseoBold";
    font-size: 20px;
    color: #fefefe;
}

.PlanSubHead1 {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.PlanSubHead2, .PlanSubHead2 .span1 {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;
    text-transform: capitalize;
    color: #ffffff;
}

    .PlanSubHead2 .span1 {
        margin-right: 20px;
    }

    .PlanSubHead2 .span2 {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.08;
        letter-spacing: 0.3px;
        color: #ffffff;
    }

.PlanSubHead3 .span1 {
    font-size: 13px;
    letter-spacing: 0.3px;
    color: #ffffff;
}

    .PlanSubHead3 .span1 i {
        margin-right: 5px;
    }

.mrg-b5 {
    margin-bottom: 5px;
}

.NameSpan1 {
    background-color: #ffffff;
    border: solid 1.5px #4696e7;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    color: rgba(70, 150, 231, 0.9);
    margin-left: -15px;
    border-radius: 50%;
    padding: 5px 7px;
    cursor: context-menu;
}

.NameAdd {
    border: dashed 2px #ffffff;
    width: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    font-size: 16px;
    border-radius: 50%;
    padding: 4px 9px;
    margin-left: 7px;
    color: #ffffff;
}

.AddName, .AddName:hover, .AddName:focus {
    text-decoration: none;
}

.NameText {
    font-size: 13px;
    font-weight: 600;
    line-height: 1.08;
    color: #ffffff;
    margin-left: 10px;
    text-decoration: none;
}

.disp480 {
    display: none;
}

.width200 {
    width: 200px;
}

.mrg-t5 {
    margin-top: 5px;
}

#contTableBtn .btnAction {
    width: 135px;
}

.ConBtnIcons {
    max-width: 15px;
    min-width: 12px;
    margin-right: 7px;
}

.width440 {
    width: 440px;
}

.width300 {
    width: 300px;
}

.IconImgCmn {
    margin-right: 5px;
}

#contMultiSelect .ms-options-wrap > button:focus, #contMultiSelect .ms-options-wrap > button {
    max-width: 75%;
    border: 1px solid rgba(70, 150, 231, 1);
    background-color: #ffffff;
    border-radius: 6px;
}

    #contMultiSelect .ms-options-wrap > button::after {
        content: ' ';
        border: 0px solid rgba(0, 0, 0, 0);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
        background-position: right;
        background-size: 100%;
        content: "";
        width: 30px;
        height: 30px;
        background: transparent url("../images/ArrowBlue.png") no-repeat;
        top: 13px;
        right: -3px;
        position: absolute;
        display: inline-block;
    }

#contMultiSelect .ms-options-wrap > .ms-options {
    width: 98%;
    margin: 0 auto;
    right: 0;
    padding: 10px;
    color: #2c2c2c;
    border-radius: 6px;
}

#contMultiSelect input[type="checkbox"] {
    opacity: 0;
}

#contMultiSelect .ms-options-wrap > .ms-options ul li label:before {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(70, 150, 231, 1);
    border-radius: 2px;
    transition: .3s;
    width: 16px;
    height: 16px;
    background: transparent;
    content: '';
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 3px;
    text-align: center;
}

#contMultiSelect .ms-options-wrap > .ms-options ul li.selected label:before {
    display: inline-block;
    cursor: pointer;
    border: 1px solid rgba(70, 150, 231, 1);
    border-radius: 2px;
    transition: .3s;
    width: 16px;
    height: 16px;
    background: rgba(70, 150, 231, 1);
    content: '\2714';
    color: #fff;
    font-size: 10px;
    position: absolute;
    left: 3px;
    text-align: center;
}

#contMultiSelect .ms-options-wrap > .ms-options > ul label {
    padding: 11px 4px 11px 75px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #2c2c2c;
}

#contMultiSelect .ms-options-wrap > .ms-options ul li label:after {
    display: inline-block;
    cursor: pointer;
    transition: .3s;
    width: 33px;
    height: 33px;
    content: '';
    position: absolute;
    top: 3px;
    left: 33px;
    border-radius: 50%;
    text-align: center;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: right;
    background-size: 100%;
    content: "";
    background: transparent url("../images/profileImg.png") no-repeat;
}

.modal-open .modal {
    z-index: 10000;
}


#contMultiSelect .ms-options-wrap > .ms-options > .ms-search {
    position: relative;
}


    #contMultiSelect .ms-options-wrap > .ms-options > .ms-search::before {
        font-family: 'FontAwesome';
        position: absolute;
        right: 15px;
        content: "\f002";
        top: 6px;
        cursor: pointer;
        color: rgba(0,0,0,0.3);
    }

    #contMultiSelect .ms-options-wrap > .ms-options > .ms-search input {
        width: 100%;
        padding: 4px 5px;
        border: 1px solid rgba(0,0,0,0.4) !important;
        border-radius: 6px;
        outline: none;
    }

.PopupProfName {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    color: #2c2c2c;
    vertical-align: middle;
}

    .PopupProfName small {
        font-size: 12px;
        font-weight: 300;
    }

.mrg-l10 {
    margin-left: 10px;
}

.profileImg31W {
    width: 31px;
    float: left;
}

.closeIcon, .closeIcon:hover {
    font-size: 23px;
    color: #000000;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
}

.closeIconImg {
    width: 25px;
}
/*******************...///Content Plan Details***********************/
/*************Delegate************/
.pdg-l-none {
    padding-left: 0px;
}

#DropdwnList1.LightTextDropdown {
    float: right;
    margin-right: 0px;
}

    #DropdwnList1.LightTextDropdown .btn.dropdown-toggle {
        color: rgba(35, 31, 32, 0.5);
    }

.EventCalendarBox {
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 0px 2px 15.7px 0.3px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    width: 920px;
    overflow: auto;
}

.overFlowAuto {
    overflow: auto;
}

#DropdwnList1.DropdwnList1Border {
    margin-right: 0px;
}

#contMultiSelect .ms-options-wrap > .ms-options > ul li.selected label {
    background-color: transparent;
    border-color: transparent;
}

#contMultiSelect.col2MultiSel .ms-options-wrap > button:focus, #contMultiSelect.col2MultiSel .ms-options-wrap > button {
    max-width: 60%;
    border: 1px solid #cccccc;
}

#DropdwnList1.YearMonth {
    float: right;
}

    #DropdwnList1.YearMonth .btn.dropdown-toggle {
        font-size: 18px;
        font-weight: 600;
    }

.col-leftEmp {
    float: left;
    width: 240px;
}

.col-RightEmp {
    float: left;
    width: 660px;
}

#DropdwnList1.FilterBox {
    margin: 0px;
}

    #DropdwnList1.FilterBox .btn.dropdown-toggle.bs-placeholder.btn-default {
        font-size: 14px;
        font-weight: 600;
        color: rgba(35, 31, 32, 0.6);
        letter-spacing: 1px;
    }

    #DropdwnList1.FilterBox .btn.dropdown-toggle {
        background: url("../images/ArrowBlue.png") no-repeat right center;
    }

.brdrBtm {
    border-bottom: solid 1px #e9e9e9 !important;
}

.width20 {
    width: 20px;
}

.width130 {
    width: 130px;
}

.rotate180 {
    transform: rotate(180deg);
}

.wrapper {
    margin: 0px auto;
    max-width: 100%;
    padding: 0 50px;
}

.EveMonthNa, .EveMonthNo {
    font-size: 14px;
    color: #000000;
    display: block;
    line-height: 1;
    letter-spacing: 1px;
}

.EveMonthNa {
    font-size: 12.5px;
    font-weight: 600;
}

.EventTH.active .EveMonthNo, .EventTH.active .EveMonthNa {
    color: rgba(70, 150, 231, 0.97)
}

#CalDiv table {
    width: 99%;
    margin: 0 auto;
}

.EventProfTD {
    padding: 15px 10px;
}

.calProfImg {
    width: 30px;
    float: left;
    margin-right: 5px;
}

.calProfName, .calProfSubName {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #2c2c2c;
}

.calProfSubName {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    letter-spacing: 0.2px;
}

.calEvenOccBox {
    padding: 3px 12px;
    text-align: center;
    border-radius: 5px;
    background-color: #ef3c79;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}

.event1, .event2 {
    border-radius: 4px;
    background-color: #e7f8ff;
    border-left: 3px solid #168ec3;
    padding: 5px;
    line-height: 1.2;
}

    .event1 a, .event2 a {
        font-size: 12px;
        color: #4d4d4d;
    }

.event2 {
    background-color: rgba(52,188,187,0.2);
    border-left: 3px solid #34bcbb;
}

.vertiAlignTop {
    vertical-align: top;
}

.EventTD {
    padding: 5px 3px;
}

.brdrRight {
    border-right: 1px solid #e9e9e9;
}

.calNumLabel {
    background-color: rgba(70, 150, 231, 0.3);
    font-size: 22px;
    font-weight: bold;
    color: #4d4d4d;
    padding: 3px 6px;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
}

.calProfLabel1, .calProfLabel2 {
    font-size: 12px;
    font-weight: 300;
    color: #4694e3;
}

.calProfLabel2 {
    color: #34bcbb;
}

.myPopover {
    padding: 6px 6px 15px;
    min-height: 120px;
}

.popTitle {
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    margin-bottom: 5px;
}

.popSub1 {
    line-height: 1;
}

.popSub2Span1 {
    float: left;
    margin-right: 15px;
}

.popSub2Span2Modify {
    float: right;
    font-weight: 600;
    color: #4696e7;
    cursor: pointer;
}

.hoverImgPopup {
    min-height: 30px;
}

    .hoverImgPopup img {
        display: none;
        margin: 0 auto;
    }

.EventTD:hover .hoverImgPopup img {
    display: block;
    cursor: pointer;
}

.mrg-b50 {
    margin-bottom: 50px;
}

#eventCalPrev, #eventCalNext {
    cursor: pointer;
}

#DelegateTaskPopup .modal-title {
    font-family: MuseoBold, 'Open Sans', sans-serif;
}

#DelegateTaskPopup .modal-header, #DelegateTaskPopup .modal-body {
    padding: 15px 25px;
}

.DelTaskTitle {
    font-size: 14px;
}

#DelegateTaskPopup #calend.SqureCalBox .input-group .form-control:first-child {
    border-radius: 40px;
}

.mrg-r10 {
    margin-right: 10px;
}

.occupTitle {
    font-size: 14px;
    line-height: 1;
    color: #2c2c2c;
    margin-bottom: 7px;
}

.viewAll, .viewAll:hover, .viewAll:focus, .viewAll:active {
    font-weight: 600;
    color: #ef3c79;
}

.btnWithoutBg, .btnWithoutBg:hover, .btnWithoutBg:focus, .btnWithoutBg:active {
    border-radius: 15px;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    font-weight: 600;
    color: #878787;
    padding: 4px 10px;
    text-decoration: none;
    float: left;
}

.moreEvent {
    font-size: 12px;
}

#delegateRight.yearBox {
    padding: 15px;
}

#delegateRight #custom-search-input {
    margin-top: 0px;
}

.deleRPendLabel {
    font-size: 14px;
}

.delPendSpan1 {
    font-size: 12px;
    color: rgba(13, 13, 13, 0.8);
}

.delPendSpan2 {
    font-weight: 600;
    color: #4696e7;
    margin-right: 10px;
}

.delPendSpan3 a {
    color: #ef3c79;
    font-weight: 600;
}

.NoPendLabel {
    box-shadow: 0px 1px 1px 0.3px rgba(0, 0, 0, 0.14);
    background-color: rgba(70,150,231,0.2);
    border: solid 1px #ebebeb;
    padding: 20px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #4696e7;
}
/* The check */
.check {
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-color: #acacac;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
    background-color: #4696e7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid;
    border-color: #ffffff;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkSideLabel {
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    line-height: 1;
    letter-spacing: 1px;
}

.closeBtnDel {
    cursor: pointer;
}

.TaskBrifBox {
    float: left;
    margin-right: 25px;
    display: grid;
}

.TaskBrifBoxSpan1 {
    font-weight: 600;
    color: #878787;
    margin-bottom: 5px;
}

.TaskBrifBoxSpan2 {
    font-size: 14px;
    color: #252525;
}

.TaskBrifBoxSub {
    font-size: 14px;
    color: #252525;
}

.TaskBrifInput {
    border-radius: 50px;
    font-weight: 600;
    color: #252525;
    width: 70%;
}

.BoldLabel {
    font-size: 14.1px;
    font-weight: 600;
    color: #231f20;
}

#DropdwnList1.DrowpdownImg .dropdown-menu.inner li::after, #DropdwnList1.DrowpdownImg .btn.dropdown-toggle::after {
    display: inline-block;
    cursor: pointer;
    transition: .3s;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    top: 4px;
    left: 10px;
    border-radius: 50%;
    text-align: center;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: right;
    background-size: 100%;
    content: "";
    background: transparent url("../images/profileImg.png") no-repeat center;
}

#DropdwnList1.DrowpdownImg .bootstrap-select.btn-group .dropdown-toggle .filter-option,
#DropdwnList1.DrowpdownImg .bootstrap-select.btn-group .dropdown-menu li a span.text {
    padding-left: 25px;
}
#DropdwnList1.DrowpdownImg .btn.dropdown-toggle {
    color: rgba(35, 31, 32, 0.6);
}
/*************...///Delegate************/
/*********PAYAL css 5/23**********************/
.Pborder {
    border-bottom: 1px solid #e8e8e8;
}

.PQuickActionContent h5 {
    padding: 2% 6%;
}

.PQuickActionContent h6 {
    color: #4d4d4d;
    margin-top: 14px;
    margin-bottom: 1px;
}

.PContentPlanBorderRight {
    border-right: 1px solid #e8e8e8;
}

.PQuickActionBoxPadding {
    padding: 4%;
}

.navbar-right .PQuickActionContent {
    right: -218px;
}

.PTabDropdownmenu {
    width: 495px;
}

    .PTabDropdownmenu ul li {
        width: 33%;
        float: left;
    }

    .PTabDropdownmenu .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border: none;
    }

    .PTabDropdownmenu .nav-tabs > li > a {
        border: none;
    }

.PQuickActionContent a:hover, .PQuickActionContent a:active, .PQuickActionContent a:focus {
    text-decoration: none;
}

.PborderInLeftRight {
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.PTabDropdownmenu .nav-tabs {
    border-bottom: none;
}

.PTabContentBox {
    width: 93%;
    float: none;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    margin: 0 auto;
    padding: 18px 18px;
}

.PMarginBottom10 {
    margin-bottom: 8px;
}

.PTabContentBox h6 {
    font-weight: 600;
}

.PTabContentBoxCreator {
    width: 45%;
    float: left;
}

    .PTabContentBoxCreator h6 {
        margin-top: 0px;
    }

.PTabContentBoxCreator1 {
    width: 33%;
    float: left;
}

    .PTabContentBoxCreator1 img, .PTabContentBoxCreator2 img {
        float: left;
        margin-right: 7px;
    }

.PTabContentBoxCreator2 {
    width: 21%;
    float: left;
}

.PSavedDraftContent {
    float: left;
    width: 75%;
    margin-bottom: 0px;
    font-size: 12px;
}

.PSavedDraftContent12 {
    color: #4696e7;
}

.PSavedDraftContent123 {
    color: #ef3c79;
}

.PSavedDraftContent1 {
    float: left;
    width: 12%;
    margin-bottom: 0px;
    font-weight: 600;
    text-align: center;
}

.PCommentAndFeedback {
    font-family: 'Open Sans', sans-serif;
}

.Ph4ColorInNO {
    color: rgba(27, 27, 27, 0.5);
}

.PTabDropdownmenu .nav-tabs > li.active > a .Ph4ColorInNO, .nav-tabs > li.active > a:focus .Ph4ColorInNO, .nav-tabs > li.active > a:hover .Ph4ColorInNO {
    color: #1b1b1b;
}

/*.Ph4ColorInNO1 li a:hover .Ph4ColorInNO, .Ph4ColorInNO1 li a:active .Ph4ColorInNO, .Ph4ColorInNO1 li a:focus .Ph4ColorInNO {
  color: #1b1b1b;
}*/
.PCommentAndFeedback {
    color: rgba(77, 77, 77, 0.5);
}

    .PCommentAndFeedback span {
        color: #fff;
    }

.PTabDropdownmenu .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-bottom: 2px solid rgba(70, 150, 231, 0.97);
}

    .PTabDropdownmenu .nav-tabs > li.active > a .PCommentAndFeedback, .nav-tabs > li.active > a:focus .PCommentAndFeedback, .nav-tabs > li.active > a:hover .PCommentAndFeedback {
        color: #4d4d4d;
    }

.Ph4ColorInNO1 > li > a:focus, .Ph4ColorInNO1 > li > a:hover {
    background-color: #fff;
}

.PTabContentBoxCreator1 p {
    margin-top: -2px;
}

.PTabContentBoxCreator2 p {
    margin-top: -2px;
}
/************5/29****************/
.PCardSliderMOdelBox .uk-section {
    background-color: #fff;
    position: relative;
    padding-top: 0px;
    padding-bottom: 29px;
}

.PCardSliderMOdelBox .owl-carousel {
    position: relative;
    margin-top: 18px;
}

.PCardSliderMOdelBox .owl-nav {
    /*position: absolute;
  top: 58px;
  left: -337px;*/
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 999999 !important;
}

.PCardSliderMOdelBox .owl-theme .owl-nav .disabled {
    opacity: 1.3;
}

.PCardSliderMOdelBox .owl-next {
    float: right;
    background: url('../images/pRightArrow.png') no-repeat !important;
    background-position: 16px center !important;
    z-index: 999999 !important;
    margin-right: -7px !important;
    background-color: #fff !important;
}

.PCardSliderMOdelBox .owl-prev {
    float: left;
    background: url('../images/PLeftSliderImg.png') no-repeat !important;
    background-position: 14px center !important;
    z-index: 999999 !important;
    background-color: #fff !important;
}

.PCardSliderMOdelBox .uk-card-primary {
    border-radius: 8px;
}

/*.PCardSliderMOdelBox h3 {
  margin-top: 10px
}*/

.PCardSliderMOdelBox .uk-card > :last-child {
    margin-top: 0;
    margin-bottom: 10px
}

/*.PCardSliderMOdelBox p {
  margin-top: 30px;
  margin-bottom: 0;
}*/

.PCardSliderMOdelBox .owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    width: 210.333px !important;
}

/*.owl-next {
  background: #3286f0;
}*/

.PCardSliderMOdelBox .owl-theme .owl-nav [class*='owl-'] {
    background: #383838;
}

.PCardSliderMOdelBox .owl-dots {
    margin-top: 30px;
    display: none;
}

.PCardSliderMOdelBox .uk-card-title {
    padding-bottom: 20px
}

.PCardSliderMOdelBox .PMOdalHeaderBorder {
    border-bottom: none !important;
    padding: 0px !important;
}

    .PCardSliderMOdelBox .PMOdalHeaderBorder p {
        background-color: rgba(70,150,231,0.2);
        padding: 15px 32px 0px 32px;
    }

.PCardSliderMOdelBox .PModalTitleImportData {
    padding: 15px 32px;
}

.TextAppceptable {
    font-size: 12px;
    background-color: #fff !important;
    color: #4d4d4d;
    margin-bottom: 0px;
    font-weight: 300;
}

.PUKCardPrimary {
    background: #fff;
    color: #fff;
    box-shadow: none;
    height: 187px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px !important;
    padding: 15px 15px;
    width: 201px;
}

.Puk-card-titleP {
    color: #4d4d4d !important;
    font-size: 13px;
    margin-top: 0px;
}

.Pmodal-dialog {
    width: 800px !important;
}

.PSaveBtnColorBlue {
    color: #4696e7 !important;
    border: none !important;
    background-color: #fff;
    height: 40px;
    width: 66px;
    border-radius: 4px;
    border: 1px solid #e1e1e1 !important;
    font-weight: 600 !important;
}

.PSaveBtnColorBlue1 {
    color: #ef3c79 !important;
    border: none !important;
}

    .PSaveBtnColorBlue1:hover, .PSaveBtnColorBlue1:focus, .PSaveBtnColorBlue1:active {
        border: 1px solid #e1e1e1 !important;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: none !important;
    }

.Pform-control {
    margin-bottom: 25px;
    height: 40px !important;
    font-size: 18px !important;
    color: rgba(37, 37, 37, 0.3) !important;
}

.Puk-card-titleP span {
    font-weight: 600;
}

.PCardSliderMOdelBox .uk-card-primary.uk-card-hover:hover {
    background-color: #fff;
    box-shadow: none;
}

.PCardSliderMOdelBox .uk-card-primary.uk-card-hover:active, .uk-card-primary.uk-card-hover:focus {
    background-color: #fff;
    box-shadow: 0 3px 21px 0 rgba(0,0,0,0.1);
}

.Pitem {
    width: 203px;
    z-index: 0;
}

.PFormatTypeSlider {
    font-size: 18px;
    color: #252525 !important;
    margin-bottom: 46px;
}

.PBorderSliderNone, .PBorderSliderNone:hover, .PBorderSliderNone:active, .PBorderSliderNone:focus {
    border: none !important;
    box-shadow: none !important;
}

.PCardSliderMOdelBox .owl-theme .owl-nav [class*="owl-"] {
    background: #fff;
    border-radius: 50px;
    width: 41px;
    height: 41px;
    box-shadow: 0 0 15.2px 0.8px rgba(0, 0, 0, 0.42);
}

.PCardSliderMOdelBox .uk-icon [STROKE*="#"]:not(.uk-preserve), .uk-icon [stroke*="#"]:not(.uk-preserve) {
    stroke: transparent;
}

.Pmodal-bodyCardSlider {
    padding: 0px 15px 33px 15px !important;
}

.PitemWidth {
    margin-top: 0px;
}

.PMOdalSliderCreatebtnblue {
    background-color: #4696e7;
    color: #fff;
    width: 156px;
    height: 40px;
    font-weight: 600 !important;
    margin-left: 18px;
}

    .PMOdalSliderCreatebtnblue:hover, .PMOdalSliderCreatebtnblue:focus, .PMOdalSliderCreatebtnblue:active {
        background-color: #4696e7;
        color: #fff !important;
    }

.PCardSliderMOdelBox .close {
    opacity: 1;
    margin: 12px 17px 0px 0px !important;
}


/*******5/29 END**********/
/*************ContentPlan Tab Start**********************/
.PCreateContentPlanTab {
    margin-top: 44px;
}

.PCreateContentPlanTabRightBox {
    background: linear-gradient(165deg, #4696e7, #34bcbb);
    float: left;
    border: 1px solid #ccc;
    width: 21%;
    height: 300px;
    border-radius: 20px;
    padding: 1% 2%;
}

    .PCreateContentPlanTabRightBox h3 {
        font-family: 'MuseoBold';
    }

    .PCreateContentPlanTabRightBox h3, .PCreateContentPlanTabRightBox p {
        color: #fff;
    }
/* Style the tab */


/* Style the buttons inside the tab */
.PCreateContentPlanTab .tab button {
    display: block;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.5);
    padding: 0px 0px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    margin-top: -4px;
}

.PTabLeftContentBox ul li:hover .tablinks, .PTabLeftContentBox ul li:active .tablinks, .PTabLeftContentBox ul li:focus .tablinks {
    color: #fff;
}

/* Change background color of buttons on hover */
.PCreateContentPlanTab .tab button:hover {
}

/* Create an active/current "tab button" class */
.PCreateContentPlanTab .tab button.active {
}

/* Style the tab content */
.PCreateContentPlanTab .tabcontent {
    float: right;
    padding: 4% 6%;
    border: none;
    width: 77%;
    border-left: none;
    min-height: 467px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ebebeb;
}

.PMarginTopDivContent {
    margin-top: 6%;
}
/*************ContentPlan Tab End**********************/
/*************5/25/18 start**********************/
.PContentPlanDropDown .btn.dropdown-toggle {
    border: 1px solid #e1e1e1 !important;
    width: 180px;
    font-size: 14px !important;
    font-weight: normal !important;
    color: rgba(37, 37, 37, 0.5) !important;
    height: 40px;
    background: url("../images/ArrowGray.png") no-repeat 155px center !important;
}

.PContentPlanSubmitButton {
    width: 104px;
    height: 40px;
    background-color: #4696e7;
    color: #fff;
}

    .PContentPlanSubmitButton.focus, .PContentPlanSubmitButton:focus, .PContentPlanSubmitButton:hover {
        color: #fff;
    }

.PContentPlanTabContentBox p {
    text-transform: uppercase;
    font-weight: 600;
    color: #878787;
}

.PContentPlanTable {
    width: 65%;
}

    .PContentPlanTable > tbody > tr > td, .PContentPlanTable > tbody > tr > th, .PContentPlanTable > tfoot > tr > td, .PContentPlanTable > tfoot > tr > th, .PContentPlanTable > thead > tr > td, .PContentPlanTable > thead > tr > th {
        border-top: none;
    }

    .PContentPlanTable > thead > tr > th {
        border-bottom: none;
        color: #878787;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .PContentPlanTable > tbody > tr > td {
        font-size: 14px;
        color: #252525;
    }

.PContentPlanMArginTop2 {
    margin-top: 2%;
}

.PContentPlanTable1 {
    width: 100%;
}

.PCreateContentPlanTab .PContentPlanTabContentBox1 {
    padding: 4% 0% 2% 0%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ebebeb;
    min-height: 571px;
}

.PTabDropdownmenu .PMarginBottom10 {
    margin-bottom: 0%;
}

.PTabDropdownmenu .tab-content {
    max-height: 250px;
    overflow: auto;
}

.PMarginBottom10 {
    margin-bottom: 10%;
}

.PPaddingContentBoxContentPage {
    padding: 0% 5%;
}

.PCreateContentPlanBgTable table tr td {
    padding: 0px;
}

.PCreateContentPlanBgTable .fold-content {
    border-radius: 0px;
    border: none;
    padding: 1% 5%;
    margin-bottom: 12px;
}

.PContentPlanFoldInner {
    width: 85%;
    margin-bottom: 3%;
}

.PContentPlanFoldInner11 #foldInnerTable tr td {
    padding: 3% 1% !important;
    text-align: center;
}

.PCreateContentPlanNameAdd {
    color: #3d82c7;
    border: dashed 2px #3d82c7;
}

.PCreateContentPlanNameText {
    color: #666666;
}

.PContentPlanFoldInner11 #foldInnerTable tr th {
    color: #878787;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.PNameSpan1 {
    background-color: #4696e7;
    border: solid 1.5px #fff;
    color: rgba(255, 255, 255, 0.9);
}

.Ppdg-none {
    padding: 0% !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    border: none !important;
}

.PContentPlanTabContentBoxCreateFormat {
    padding: 4% !important;
}

.PCreateFormatText {
    float: left;
    width: 50%;
}

.PUploadExcelSheetBtn {
    float: left;
    width: 50%;
    margin-top: -6px;
}

.PUploadExcelSheetBtn1 {
    width: 192px;
    height: 40px;
    border: 1px solid #e1e1e1;
    background: #fff;
    color: #4696e7;
    background: url('../images/IconContentPlans.png') no-repeat;
    background-position: 12px center;
    float: right;
}

    .PUploadExcelSheetBtn1:hover {
        color: #4696e7;
    }

.PCreateFormatText h3 {
    margin-top: 0px;
    font-family: 'MuseoBold';
}

.PtabDropdownP12 p {
    font-size: 12px;
    color: #878787;
    text-transform: uppercase;
    font-weight: 600;
}

.Ppadleft0px {
    padding-left: 0px;
}

.PPadLeft1px {
    padding-left: 5px;
}

.PReferenceWidth .PContentPlanDropDown .btn.dropdown-toggle {
    width: 376px;
    background: none !important;
}

.PWidthReferenceContentPlan .PContentPlanDropDown .btn.dropdown-toggle {
    width: 384px;
    background: none !important;
}

.PArrowImgNone .PContentPlanDropDown .btn.dropdown-toggle {
    background: none !important;
}

.PCreateContentPlanBtn {
    width: 192px;
    margin-top: 4%;
    float: right;
}

.PmarginTopCreateContent {
    margin-top: 6%;
}

.PTabMInWidth {
    min-height: 470px !important;
}

.PTabLeftContentBox {
    width: 100%;
    float: left;
}

.PimgTimelinebar {
    width: 20%;
    float: left;
    text-align: center;
}
/***********timelinebar create content*********************************/
.PTabLeftContentBox ul {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

    .PTabLeftContentBox ul li {
        height: 20%;
        color: #ecf0f1;
        position: relative;
        transition: 0.5s;
        display: block;
    }

        .PTabLeftContentBox ul li:after, .PTabLeftContentBox ul li.active:after {
            /*time stamp*/
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: #fff solid 4px;
            position: absolute;
            left: -37px;
            top: -1px;
            background: #fff;
            display: block;
            transition: 0.5s;
        }

        .PTabLeftContentBox ul li:hover:after, .PTabLeftContentBox ul li.active:after, .PTabLeftContentBox ul li:focus:after {
            /*time stamp*/
            width: 20px;
            height: 20px;
            background: #4696e7;
            left: -43px;
        }

        .PTabLeftContentBox ul li:hover button, .PTabLeftContentBox ul li.active button, .PTabLeftContentBox ul li:focus button {
            /*time stamp*/
            color: #ffffff;
            opacity: 1;
        }

        .PTabLeftContentBox ul li:hover:after {
            transform: scale(1);
            transition: 0.5s;
        }

    .PTabLeftContentBox ul:before {
        /*timeline bar*/
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 8px;
        width: 1px;
        height: 44%;
        background: #fff;
    }

.PBorderCreateContentPlan {
    width: 100%;
    margin: 0 auto;
}

.PCreateContentPlanTabRightBox h6 {
    letter-spacing: 0.3px;
}

.PCreateFormatImg img {
    margin-top: 88%;
    float: right;
}

#welcomeDiv .mrg-t10 {
    margin-top: 10px !important;
}

#calend.SqureCalBox .calendInner {
    width: 100%;
}

#calend.SqureCalBox .input-group .form-control:first-child {
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 6px;
}

#calend.SqureCalBox .input-group-addon:last-child {
    right: 15px;
    top: 6px;
}

#mdlAddFreelancer.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#mdlAddFreelancer .modal-content {
    background-color: #fefefe;
    margin: auto;
    /*padding: 20px;*/
    border: 1px solid #888;
}

/* The Close Button */
#mdlAddFreelancer .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    #mdlAddFreelancer .close:hover,
    #mdlAddFreelancer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

[contenteditable="true"] {
    cursor: text;
    padding: 3px;
}

    [contenteditable="true"]:hover, [contenteditable="true"]:focus, [contenteditable="true"]:active {
        outline: 1px solid #4696E7 !important;
    }
/*************Popup Styles Pank*****************/
.enquireNow {
    border-radius: 5px;
    box-shadow: 0px 2px 15.7px 0.3px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}

    .enquireNow .modal-header {
        padding: 15px 36px;
        border-bottom: 1px solid #e8e8e8;
    }

        .enquireNow .modal-header .modal-title {
            font-size: 16px;
            text-align: left;
            color: #4c4c4c;
            font-family: 'MuseoBold';
        }

        .enquireNow .modal-header .close {
            /*margin-top: -13px;*/
            font-size: 20px;
            font-weight: 100;
            color: #000000 !important;
        }

    .enquireNow .modal-body {
        padding: 20px 35px 35px 35px;
    }

.NotificationMessage {
    font-size: 18px;
    color: rgba(77, 77, 77, 0.5);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.ValidationMessage {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 300;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.InputTitle {
    font-size: 12px;
    font-weight: 600 !important;
    color: #878787;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.InputInnerDarkText {
    color: #252525;
    font-size: 14px;
    border-radius: 4px !important;
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    height: 40px;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 40px;
}

    .file-upload-wrapper:after {
        content: attr(data-text);
        letter-spacing: 0.3px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px 15px;
        display: block;
        width: calc(95% - 40px);
        pointer-events: none;
        height: 40px;
        line-height: 20px;
        color: #4d4d4d;
        border-radius: 4px;
        border: solid 1px #e1e1e1;
        font-weight: 300;
        letter-spacing: 0.3px;
    }

    .file-upload-wrapper:before {
        content: 'Browse';
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 40px;
        background: #FFF;
        color: #4696e7;
        font-size: 13px;
        line-height: 40px;
        padding: 0 15px;
        pointer-events: none;
        border-radius: 4px;
        border: solid 1px #e1e1e1;
    }

    .file-upload-wrapper input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
/**************...///Popup Styles Pank*********/
/************Media Query**************/
@media screen and (min-width: 1600px) and (max-width: 2400px) {
}

@media screen and (min-width: 1px) and (max-width: 1200px) {
    /*******************************/
    .PPadLeft0pxRes {
        padding-left: 0px;
    }

    .PMarginTopInRes {
        margin-top: 15px;
    }

    .PCreateContentTitlePadingLeftRes {
        padding-left: 8px;
    }

    .PTabMInWidth {
        min-height: 648px !important;
    }
}

@media screen and (min-width: 1px) and (max-width: 1060px) {
    .yearBox {
        padding: 2% 0.5%;
    }

    #yearBox {
        padding: 15px;
    }
}

@media screen and (min-width: 1px) and (max-width: 992px) {
    .logo, .month {
        display: none;
    }

    #header .navbar-header {
        padding-bottom: 0px;
    }

    .navbar-toggle .icon-bar {
        background: #4696e7;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
            width: 100%;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
        float: left;
        margin: 0px;
    }

    .navbar-header {
        float: none;
    }

    .PBlueBgColor {
        padding: 4% 0% 4%;
    }

    .arrows {
        display: none;
    }

    .titleWithDropdown {
        width: 100%;
    }

    .titleWith1 {
        border-right: 0px solid #555555;
        width: 100%;
    }

    .select-wrapper .holder {
        font-size: 13px;
    }

    .TaskLabel {
        text-align: center;
        margin-bottom: 10px;
    }

        .TaskLabel .labelYear {
            float: none;
        }

    .dispNo991 {
        display: none;
    }

    .btnGroup {
        clear: both;
        width: 53%;
        margin: 0 auto;
    }

    #tableBox {
        width: 99%;
    }

        #tableBox table th, #tableBox table td {
            min-width: 200px;
        }

    .timeline-tab ul.nav {
        width: 100%;
    }

    .timeline-tab .tab-content {
        width: 100%;
        display: none;
    }

    .PResponsiveSlider {
        display: none;
    }

    .PTimelineNav li a:active .PResponsiveSlider, .PTimelineNav li a:focus .PResponsiveSlider {
        display: block;
    }

    /* .PBlueBgColor {
		display: none;
	  } */
    .PBlueBgColor1 {
        display: block;
    }

        .PBlueBgColor1 ul li a .pResTabPan {
            display: none;
        }

    .PTimelineNav > li#one.active > #homeRespo {
        display: block;
        margin-left: 34px;
    }

    .timeline-tabSection h6, .timeline-tabSection h2 {
        width: 100%;
        margin-top: 5px;
    }

    .PBlueBgColor {
        margin-top: 0px;
    }

    #timeline-tab .prev, #timeline-tab .next {
        display: none !important;
    }

    .PlanDetailBox1 {
        padding: 4%;
    }

    #contMultiSelect .ms-options-wrap > button:focus, #contMultiSelect .ms-options-wrap > button {
        max-width: 90%;
    }

    .mrg-t5Res991 {
        margin-top: 5px;
    }
    /******************/
    .PCreateContentPlanTabRightBox {
        width: 100%;
        height: 190px;
    }

    .PCreateContentPlanTab .tabcontent {
        width: 100%;
        margin-top: 15px;
    }

    .PTabLeftContentBox ul::before {
        display: none;
    }

    .PTabLeftContentBox ul li::after {
        display: none;
    }

    .PTabLeftContentBox ul {
        display: inline-block;
        width: 100%;
        height: auto;
        text-align: center;
        padding-left: 0px;
    }

        .PTabLeftContentBox ul li {
            display: inline-block;
            width: 30%;
        }

            .PTabLeftContentBox ul li:hover:after, .PTabLeftContentBox ul li.active:after, .PTabLeftContentBox ul li:focus:after {
                display: none;
            }

    .PCreateContentPlanTabRightBox h6 {
        text-align: center;
    }

    .PCreateContentPlanTab .tab button {
        text-align: center;
    }

    .PTabLeftContentBox ul li.active button {
        font-weight: bold;
    }

    #delegate.mainSection {
        margin-top: 0px;
    }
    /******5/29 start****************/
    .Pmodal-dialog {
        width: 613px !important;
        margin: 0 auto !important;
    }
    /******5/29 end****************/
}

@media screen and (min-width: 1px) and (max-width: 768px) {
    #DropdwnList1, #DropdwnList2 {
        width: 40%;
    }

        #DropdwnList1.DropdwnList1Border, #DropdwnList2.DropdwnList1Border {
            width: 90%;
        }

        #DropdwnList1.LightTextDropdown {
            float: none;
            margin-right: 10px;
        }

    .div1Cal {
        width: 37%;
    }

    .div2Cal {
        width: 55%;
    }

    .btnGroup {
        width: 60%;
    }

        .btnGroup .btnCustom, .btnGroup .btnCustom1 {
            width: 47%;
            margin-bottom: 5px;
        }

    .mrg-25pR {
        margin-left: 25%;
    }

    .btnGroup {
        width: 100%;
        text-align: center;
    }

    .btnGroup1 .btnAction {
        margin: 5px 5px;
    }

    #custom-search-input .input-group[class*="col-"] {
        width: 100%;
    }

    #header {
        display: none;
    }

    #PNavBar992 {
        display: block;
    }

    .fixed-nav {
        display: block;
    }

    #mySidenav ul {
        width: 100%;
    }

    .ScatterFoterText h1 {
        width: 100%;
        text-align: center;
    }

    .copyright-text p {
        width: 100%;
        float: left;
        text-align: center;
        margin: -5px 0px 17px 0px;
    }

    .PResMobilemenuBack {
        display: block !important;
    }

        .PResMobilemenuBack ul {
            width: 100px;
            margin-top: 9px !important;
        }

    .NotifyBell {
        margin-right: -6px;
        margin-top: 3px;
    }

    #header .navRight > li.NotifyBell > a .fa-bell {
        font-size: 14px;
    }

    #header .navRight > li.NotifyBell > a {
        padding: 9px 8px;
        position: relative;
    }

    #header .navRight > li > a {
        width: 30px;
        height: 30px;
    }

    .header-nav {
        height: 60px;
    }

    .profileImg {
        width: 31px;
    }

    #header .navRight > li.NotifyBell > a > .label-info {
        padding: 1px;
        right: 6px;
        color: #ef3c79;
    }

    .navbar-fixed-top {
        border: 0px;
    }

    #rangeSelector {
        bottom: 26px;
    }

    .tableCell1-3.tableCellCon1-4 {
        bottom: 9px;
        width: 150%;
    }
    /***************************************************************************/
    .PContentPlanDropDown {
        width: 100% !important;
        text-align: center;
    }

    .PContentPlanSubmitButtonRes {
        width: 100%;
        text-align: center;
    }

    .PContentPlanSubmitButton {
        margin-top: 15px;
    }

    .PtabDropdownP12 p {
        text-align: center;
    }

    .PMarginFormat {
        margin-top: 15px;
    }

    .PCreateFormatImg img {
        margin-top: -51%;
    }

    .PmarginTopCreateContent {
        margin-top: 0%;
    }

    .PTabMInWidth {
        min-height: 807px !important;
    }

    .PReferenceWidth .PContentPlanDropDown .btn.dropdown-toggle {
        width: 180px;
    }

    .PWidthReferenceContentPlan .PContentPlanDropDown .btn.dropdown-toggle {
        width: 180px;
    }
    /**************5/29 start******************/
    .Pmodal-dialog {
        width: 400px !important;
        margin: 0 auto !important;
    }

    .Pitem {
        margin: 0 auto;
        margin: 0 auto;
    }
    /**************5/29 end******************/
}

@media screen and (min-width: 1px) and (max-width: 480px) {
    .div1Cal {
        width: 28%;
    }

    .div2Cal {
        width: 70%;
    }

    .btnGroup {
        width: 100%;
    }

        .btnGroup .btnCustom, .btnGroup .btnCustom1 {
            width: 47%;
        }

    .PResMobilemenuBack ul {
        width: 22%;
    }

    .timeline-tabSection h2 img {
        margin-right: 60%;
        padding-bottom: 10px;
    }

    .timeline-tabSection .slick-initialized .slick-slide {
        width: 290px !important;
    }

    .disp480 {
        display: block;
    }

    .AddName, .AddName:hover, .AddName:focus {
        float: right;
        text-align: center;
        margin: 25px 0px 5px;
    }
    /*************************************/
    .PCreateContentPlanBgTable .fold-content {
        padding: 1% 0%;
    }

    .PCreateFormatImg {
        display: none;
    }

    .PCreateFormatText {
        width: 100%;
    }

    .PCreateContentPlanBtn {
        float: none;
        margin: 0 auto;
        margin-top: 16px;
    }

    .PPaddingRight0pxRes {
        padding-right: 0px;
    }

    .PUploadExcelSheetBtn1 {
        float: none;
        margin: 0 auto;
    }

    .PUploadExcelSheetBtn {
        margin: 15px 0px;
    }

    .PCreateContentPlanTab .tab button {
        font-size: 12px;
    }

    .PTabLeftContentBox ul {
        text-align: left;
    }
    /********5/29 start**************/
    .Pmodal-dialog {
        width: 350px !important;
        margin: 0 auto !important;
    }
    /********5/29 end**************/
}

@media screen and (min-width: 1px) and (max-width: 320px) {
    .div1Cal {
        width: 26%;
    }

    .div2Cal {
        width: 73%;
    }

    .btnGroup .btnCustom, .btnGroup .btnCustom1 {
        width: 100%;
    }

    .mrg-25pR {
        margin-left: 0%;
    }

    .PResMobilemenuBack ul {
        width: 35%;
    }

    /*#mySidenav ul {
        width: 70%;
    }*/

    .timeline-tabSection .slick-initialized .slick-slide {
        width: 220px !important;
    }
    /*********************/
    .NameText {
        font-size: 12px;
    }

    .PCreateContentPlanTabRightBox {
        height: 210px;
    }
    /********5/29 start**************/
    .Pmodal-dialog {
        width: 280px !important;
        margin: 0 auto !important;
    }

    .Pitem {
        margin: 0 auto;
    }
}
/********5/29 end**************/
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}
/************.//Media Query**************/
